<% if @event.errors.any? %>
    <ul>
    	<% @event.errors.full_messages.each do |msg| %>
    		<li><%= msg %></li>
    	<% end %>
    </ul>
<% end %>

<div class="form-group">
	<%= f.label :name, "Name: " %>
	<%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :sex, "Sex: " %>
	<%= f.radio_button :sex, true %>
	<%= f.label :sex, "Boy", :value => "Boy" %>
	<%= f.radio_button :sex, false %>
	<%= f.label :sex, "Girl", :value => "Girl" %>
</div>

<div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
    	<%= f.label :birthday, "Birthday: " %>
    	<%= f.text_field :birthday, :class => "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
        	format: 'YYYY/MM/DD'
        });
    });
</script>

<div class="form-group">
	<%= f.label :email, "Email: " %>
	<%= f.text_field :email, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :phone, "Phone: " %>
	<%= f.text_field :phone, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :contact, "QQ/WeChat: " %>
	<%= f.text_area :contact, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :address, "Address: " %>
	<%= f.text_area :address, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :description, "Description: " %>
	<%= f.text_area :description, :class => "form-control" %>
</div>