<div class="container">
	<%= form_for @message, :url => event_message_path(@event, @message), :method => :patch do |f| %>
		<div class="form-group">
			<% if current_user.admin? || current_user.boss? %>
				<%= f.label :content, "指導: " %>
			<% else %>
				<%= f.label :content, "處理: " %>
			<% end %>
			
			<%= f.text_field :content, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.submit "更新",:class => "btn btn-primary" %>
	    	<%= link_to '返回', event_path(@event), :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>